<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ReactJS + Spring Data REST</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
</head>
<body>
<section class="section">
    <div class="container">
        <h1 class="title">
            User Reference
        </h1>
        <p class="subtitle">
            Listing of all product users.
        </p>
    </div>
</section>
<div id="react"></div>
<script type="text/javascript" th:src="@{/built/bundle.js}"></script>
<!--<script type="text/javascript" th:src="@{/app.js}"></script>-->
<!--<script src="/static/built/bundle.js"></script>-->
<!--<script src="built/bundle.js"></script>-->
<!--<script src="built/app.js"></script>-->
</body>
</html>